<div ng-controller="appleCtrl">
<div class="container-fluid">
     <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <b>Apple Store : </b><input type="text" class="form-control" placeholder="Enter App Name" ng-model="app">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="storesearch()">Search</button>
      </form>  
      </div>
      <hr>
      
<div class="container">      
<div class="row" ng-repeat="app in appstore">
<div class="col-md-4"  ng-repeat="a in app.results">

		<img ng-src="{{a.artworkUrl100}}" style="width:100px;height:100px"><br><br>
		<div class="color">
		<b>{{a.trackName}}</b>
		<p><font color="red">Price : {{a.formattedPrice}}</font></p>
		<h5>Category : {{a.genres}}</h5>
		<p>Owner: {{a.sellerName}}</p>
		<p>Release Date : {{a.releaseDate}}</p>
		<p>Size: {{a.fileSizeBytes/1000000}} MB</p>
		<p>Rating : {{a.averageUserRatingForCurrentVersion}}</p>
		<a href="{{a.trackViewUrl}}"> <button type="submit" class="btn btn-primary"> Get app</button></a>
		<br><br>
		</div>
		
	</div>
	<br>
	</div>
	<br>
</div>
</div>