.header {
    background-color:#669999;
    color:white;
    text-align:center;
    padding:5px;
}
.side {
    line-height:30px;
    background-color:#eeeeee;
    height:1000px;
    width:150px;
    float:left;
    padding:5px;
}

.footer {
    background-color:grey;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
.class{
color:brown;
}

.movie {
float: left;
margin: 5px;
padding: 15px;
width: 220px;
height: 500px;
border: 2px solid black;
}